div.contacts-con {
    height: 100vh;
    padding-top: 120px;
    min-height: 820px;
    background-color: rgba(246, 246, 246, 1);
    background-image: linear-gradient( to top, rgba( 246, 246, 230, 1 ), transparent );
    background-image: -moz-linear-gradient( to top, rgba( 246, 246, 230, 1 ), transparent );
    background-image: -o-linear-gradient( to top, rgba( 246, 246, 230, 1 ), transparent );
    background-image: -webkit-linear-gradient( to top, rgba( 246, 246, 230, 1 ), transparent );
}

div.contacts-con > section {
    padding: 0 10vw 80px 10vw;
    width: 100%;
}

div.contacts-info-con {
    height: 450px;
    position: relative;
    z-index: 0;
    background-color: rgba(246, 165, 76, 1);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 25px;
    font-size: 120%;
    border-bottom-left-radius: 50px;
    transition: all .25s ease-in;
}

div.contacts-info-con.-seen {
    margin-right: 60px;
}

div.contacts-info-con::before {
    content: "";
    z-index: -1;
    position: absolute;
    height: calc(100% - 25px);
    width: 100%;
    border-bottom-left-radius: 45px;
    border: 5px solid rgba( 55, 59, 45, 1);
    margin-left: -15px;
    transition: all .25s ease-in;
}

div.contacts-info-con.-seen::before {
    margin-right: -30px;

}

div.contacts-info-inside {
    flex-direction: column;
}

div.contacts-info-body a {
    position: relative;
    font-size: 110%;
}

div.contacts-info-body a::before {
    content: "";
    position: absolute;
    width: calc(100% + 20px);
    height: 5px;
    bottom: 2px;
    background-color: rgba(12, 136, 239, 1);
    z-index: -1;
}

div.contacts-info-body a:hover {
    color: rgba(12, 136, 239, 1);
}

div.contacts-info-body a:hover::before {
    background-color: rgba(246, 246, 246, 1);
}

div.address-info-body {
    flex-direction: column;
    align-items: center;
}

/* MAP */


div.map-container {
    flex: 1;
    box-shadow: 0px 5px 10px rgba( 55, 59, 45, 1);
}

div.palengke-pin, div.zaccs-pin {
    position: absolute;
    transform: translate(-50%, -50%);
}

div.palengke-pin {
    /* background-color: rgba(246, 50, 20, 1); */
    height: 30px;
    width: 30px;
    background-color: rgba(55, 59, 45, 1);
    border: 6px solid rgba(246, 165, 76, 1);
    box-shadow: 0 2px 4px black;
    border-radius: 20px;
}

div.zaccs-pin {
    height: 40px;
    width: 40px;
    background-image: url('/src/images/zaccsicon.png');
    background-size: contain;
    background-color: rgba( 240, 240, 240 );
    border-radius: 20px;
    border: 4px solid rgba( 55, 59, 45, 1 );
}

div.palengke-pin::before,
div.palengke-pin::after,
div.zaccs-pin::after {
    position: absolute;
    color: rgba( 55, 59, 45, 1);
}

div.palengke-pin::before {
    content: "Public Market";
    top: -40px;
    left: -12px;
    font-size: 125%;
}

div.zaccs-pin::after {
    content: "Zacc's";
    font-size: 150%;
    bottom: -25px;
    left: -5px;
}


@media only screen and (max-width: 970px) {
    div.contacts-con {
        min-height: 1020px;
    }

    div.contacts-con > section {
        flex-direction: column;
    }

    div.contacts-info-con {
        height: 350px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 50px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    div.contacts-info-con.-seen {
        margin-right: 0;
        margin-bottom: 25px;
    }
}