div.home-gallery-con {
    /* height: calc(100vh + 50px); */
    padding-top: 100vh;
    background-color: rgba( 246, 246, 246, 1);
    background-image: url( '../../../images/movieref.svg' );
    background-size: 80px;
    padding-top: 90px;
    padding-bottom: 50px;   
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

div.home-gallery-con.-hide-design {
    padding-top: 150px;
}

div.home-gallery-con > section {
    /* 50px comes from div.home-gallery-con */
    /* then we add the 80px height for the header */
    /* to cover up the viewable section */
    height: 100%;
    width: 100%;
    font-weight: 600;
    position: relative;
}

div.paragraph-con {
    position: absolute;
    flex-flow: column;
    align-items: center;
    left: 20px;
    top: 250px;
    padding: 20px 10px;
    font-size: 150%;
    /* background-color: rgba( 196, 186, 126, 1); */
    background-color: rgba( 246, 165, 76, 1 );
    box-shadow: 2px 0 3px black;
    font-family: 'Fasthand', cursive;
    z-index: 1;
    transform: rotate( -10deg );
}

div.paragraph-con > h2 {
    padding: 2.5px;
}

div.paragraph-con > p {
    font-size: 125%;
    text-align: center;
}

div.actual-gallery-con {
    height: 100%;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 450px;
    padding-bottom: 100px;
    border-radius: 5px;
    justify-content: center;
    background-image: linear-gradient( 90deg, rgba( 0, 0, 0, .15 ) -50%, transparent, rgba( 0, 0, 0, .15 ) 150% );
    background-image: -moz-linear-gradient( 90deg, rgba( 0, 0, 0, .15 ) -50%, transparent, rgba( 0, 0, 0, .15 ) 150% );
    background-image: -o-linear-gradient( 90deg, rgba( 0, 0, 0, .15 ) -50%, transparent, rgba( 0, 0, 0, .15 ) 150% );
    background-image: -webkit-linear-gradient( 90deg, rgba( 0, 0, 0, .15 ) -50%, transparent, rgba( 0, 0, 0, .15 ) 150% );
    box-shadow: 0 0 2px black;
    background-color: rgba( 246, 246, 230, 1 );
}

div.actual-gallery-con::before {
    content: "hi :)";
    position: absolute;
    top: -20px;
    color: black;
    background-color: rgba( 246, 246, 246, .75 );
    padding: 0 20px;
}

@media only screen and ( max-width: 1300px ) {
    div.actual-gallery-con {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

@media only screen and ( max-width: 1150px ) {
    div.actual-gallery-con {
        margin-left: 2vw;
        margin-right: 2vw;
    }
} 

div.actual-gallery-inside {
    width: 100%;
    max-width: 650px;
}

div.actual-gallery-inside > ul {
    height: 100%;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

div.actual-gallery-inside li,
li > span.gallery-img-con {
    display: flex;
    align-items: center;
}

div.actual-gallery-inside li {
    position: relative;
    flex: 1;
}

li > span.gallery-img-con {
    overflow: hidden;
    height: 520px;
    width: 100%;
    justify-content: center;
}

li:nth-child( odd )  span.gallery-img-con {
    margin-right: -250px;
    margin-left: 250px;
}

li:nth-child( even ) span.gallery-img-con {
    margin-right: 250px;
    margin-left: -250px;
}

span.gallery-img-con > img {
    height: 115%;
    margin-top: -50px;
    box-shadow: 0 0 5px black;
}

li > span.gallery-descrip-con {
    position: absolute;
    display: flex;
    top: 20%;
    height: 200px;
    width: 500px;
    padding: 20px 40px;
    background-color: rgba( 44, 186, 117, 1 );
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    font-size: 140%;
    font-family: 'Fasthand', cursive;
    box-shadow: 0 0 5px black;
    letter-spacing: 1px;
    font-weight: 600;
    letter-spacing: 1.25px;
}

li:nth-child( odd ) > span.gallery-descrip-con {
    transform: rotate( -15deg );
    left: -160px;
}

li:nth-child( even ) > span.gallery-descrip-con {
    transform: rotate( 15deg );
    right: -160px;
}

@media only screen and ( max-width: 950px ) {
    /* recenter images onced max-width is reached */
    div.actual-gallery-inside li > span.gallery-img-con {
        margin: 50px 0;
    }

    div.actual-gallery-inside li > span.gallery-descrip-con {
        transform: rotate(0);
        width: 200px;
        min-width: 100%;
        padding: 5px 10px;
        top: auto;
        bottom: -20px;
    }

    li:nth-child( odd ) > span.gallery-descrip-con {
        left: 0;
    }
    
    li:nth-child( even ) > span.gallery-descrip-con {
        right: 0;
    }

    /* paragraph con change, to not overlap with images */
    div.paragraph-con {
        top: 150px;
        left: 2.5%;
        width: 95%;
        padding-top: 15px;
        box-shadow: 0 2px 3px black;
    }

    div.paragraph-con > h2 {
        padding: 0;
    }
}

@media only screen and ( max-width: 495px ) {
    div.actual-gallery-inside li > span.gallery-descrip-con {
        padding: 5px 10px;
        font-size: 130%;
        bottom: -40px;
    }
}