div.home-place-con {
    height: 860px;
    min-height: 570px;
    padding: 120px 0 120px 0;
    background-color: rgba( 0, 15, 10, 1 );
}

div.home-place-con > section {
    height: 100%;
    overflow: hidden;
}