div.header-con {
    position: fixed;
    z-index: 999;
    top: 0;
    padding: 0 10vw;
    height: 100vh;
    min-height: 600px;
    width: 100%;
    background-color: rgba( 0, 10, 5, 1);
    transition: all .35s ease-in;
}

/* design hide, header adustments */

div.header-con.-hide-design {
    height: 80px;
    min-height: 80px;
}

div.header-con.-hide-design div.title-con {
    font-size: 200%;
}

div.header-con.-hide-design div.nav-con ul.nav-list {
    padding: 30px 0 0 0;
}

header {
    height: 100%;
    align-items: center;
    position: relative;
}

header > div:first-child {
    flex: 1;
}

header > div:nth-child(2) {
    align-self: flex-start;
    width: 600px;
}

div.title-con {
    color: rgba( 246, 246, 246, 1 );
    font-size: 300%;
    transition: all .25s ease-in-out;
}

div.title-con h1 {
    font-weight: 600;
}

div.nav-con {
    position: relative;
}

div.nav-burger {
    visibility: hidden;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 15px;
    right: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.nav-burger:hover {
    cursor: pointer;
}

div.nav-burger > span {
    height: 10px;
    width: 90%;
    background-color: rgba( 246, 246, 246, 1 );
    border-radius: 10px;
}

div.nav-con ul.nav-list {
    padding: 35px 0;
    font-size: 150%;
    justify-content: space-around;
}

ul.nav-list li a {
    font-weight: 600;
    color: rgba( 246, 246, 246, 1 );
    padding: 5px 10px;
}

ul.nav-list li a.-activeNav {
    color: black;
    background-color: rgba( 246, 165, 76, 1 );
}

div.header-design-con {
    position: absolute;
    z-index: 1;
    right: 50px;
    top: 150px;
    height: 60%;
    min-height: 450px;
    width: 60%;
    max-width: 750;
    border-radius: 75px;
    background-color: rgba( 246, 165, 76, 1 );
    overflow: hidden;
    transition: all .35s ease-in;
}


/* design hide for header-design-con */
div.header-con.-hide-design div.header-design-con {
    right: -100vw;
    opacity: 0;
}

div.header-design-con div {
    position: absolute;
}

div.noodles-con {
    top: 120px;
    overflow: hidden;
    height: 180px;
    width: 300px;
}

div.smoke-con {
    height: 70px;
    width: 250px;
    gap: 20px;
    padding: 5px 10px;
}

div.smoke-con > div.actual-smoke {
    position: relative;
    visibility: hidden;
    height: 60px;
    flex: 1;
    background-color: rgba( 246, 246, 246, 1 );
    background: linear-gradient( to top, rgba( 246, 246, 246, 0 ), rgba( 246, 246, 246, 1 ) );
    z-index: 2;
    border-radius: 20px;
    animation-name: smoke-anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes smoke-anim {
    0%, 50%, 100% {
        visibility: visible;
    }

    0%, 100% {
        margin-top: 0;
    }
    
    50% {
        margin-top: 10px;
    }
}

div.noodles-toppings {
    height: 40px;
    width: 300px;
}

div.egg-con {
    top: 75px;
}

div.egg-yellow {
    /* top: 45px; */
    height: 13px;
    width: 100px;
    background-color: yellow;
    border-top-right-radius: 500px;
}

div.egg-white {
    /* top: 55px; */
    top: 12px;
    height: 25px;
    width: 170px;
    background-color: white;
    background: linear-gradient( to bottom, rgba( 246, 246, 246, 1 ), wheat );
    border-top-right-radius: 500px;
}

div.noodles-inside {
    flex-wrap: wrap;
    top: 180px;
}

div.noodles-inside > div {
    position: relative;
    height: 125px;
    width: 125px;
    border-radius: 500px;
    margin-left: -65px;
    margin-top: -80px;
    border: 25px solid wheat;
}

div.noodles-inside > div::before {
    position: absolute;
    content: "";
    height: 125px;
    width: 125px;
    border-radius: 500px;
    border: 20px solid rgba(225, 192, 149, 1);
    left: -20px;
}

div.bowl-con {
    width: 85%;
    height: 100%;
}

div.bowl-upper {
    top: 300px;
    height: 40px;
    width: 350px;
    background-color: rgba( 55, 59, 45, 1);
    background: linear-gradient( to right, rgba( 0, 10, 5, 1) 0% 10%, rgba( 55, 59, 45, 1) );
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    z-index: 1;
}

div.bowl-side {
    top: 312px;
    left: 280px;
    height: 300px;
    width: 40px;
    background-color: rgba( 55, 59, 45, 1);
    background: linear-gradient( 40deg, rgba( 0, 10, 5, 1) 0% 10%, rgba( 55, 59, 45, 1) );
    transform: rotate( 10deg );
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    z-index: 1;
}

div.bowl-bottom {
    z-index: 0;
    height: 300px;
    width: 302px;
    border-bottom-right-radius: 50px;
    top: 307px;
    background: linear-gradient( 30deg, rgba( 0, 10, 5, 1), rgba( 133, 96, 67, 1 ) );
}

@media only screen and ( max-height: 800px ) {
    div.header-design-con {
        top: 100px;
        height: 380px;
        min-height: 360px;
    }
}

@media only screen and ( max-width: 1140px ) {
    div.header-con {
        padding: 0 5vw;
    }
    
    div.title-con {
        font-size: 275%;
    }

    header > div:nth-child(2) {
        width: 450px;
    }

    div.header-design-con {
        width: 55%;
    }
}

@media only screen and ( max-width: 860px ) {
    header > div:first-child {
        align-self: flex-start;
    }
    
    div.title-con {
        font-size: 200%;
    }

    div.nav-con > nav {
        position: fixed;
        width: 100%;
        right: 0;
        transform: translateX( 100% );
        z-index: 998;
    }

    div.nav-con > div.nav-burger > span:nth-child( odd ) {
        transition: transform .25s ease-in;
    }

    div.nav-con.-activeBurger > div.nav-burger > span:nth-child( 2 ) {
        visibility: hidden;
    }

    div.nav-con.-activeBurger > div.nav-burger > span:nth-child( 1 ) {
        transform: rotate( 45deg ) translate( 12px, 12.5px );
    }

    
    div.nav-con.-activeBurger > div.nav-burger > span:nth-child( 3 ) {
        transform: rotate( -45deg ) translate( 12.5px, -12.5px );
    }

    div.nav-con.-activeBurger > nav {
        background-color: rgba( 246, 165, 76, 1 );
        transition: transform ease-out .35s;
        transform: translateX( 0 );
    }

    div.nav-con.-activeBurger li a {
        color: rgba( 0, 10, 5, 1);
    }

    div.nav-con.-activeBurger li a.-activeNav {
        color: white;
    }

    div.nav-con nav ul {
        height: 100vh;
        flex-direction: column;
        align-items: center;
    }

    div.nav-burger {
        visibility: visible;
        z-index: 9999;
    }

    div.header-design-con {
        width: 100%;
        border-radius: 0;
        right: 0;
        top: 80px;
    }
}