div.header-con {
    padding: 0 10vw;
    height: 90vh;
    min-height: 600px;
    background-color: rgba( 0, 10, 5, 1);
}

header {
    height: 100%;
    align-items: center;
    position: relative;
}

header > div:first-child {
    flex: 1;
}

header > div:nth-child(2) {
    align-self: flex-start;
    width: 600px;
}

div.title-con {
    color: rgba( 246, 246, 246, 1 );
    font-size: 300%;
}

div.title-con h1 {
    font-weight: 600;
}

div.nav-con {
    position: relative;
}

div.nav-burger {
    visibility: hidden;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 15px;
    right: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.nav-burger:hover {
    cursor: pointer;
}

div.nav-burger > span {
    height: 10px;
    width: 90%;
    background-color: rgba( 246, 246, 246, 1 );
    border-radius: 10px;
}

div.nav-con ul.nav-list {
    padding: 35px 0;
    font-size: 150%;
    justify-content: space-around;
}

ul.nav-list li a {
    font-weight: 600;
    color: rgba( 246, 246, 246, 1 );
    padding: 5px 10px;
}

ul.nav-list li a.-activeNav {
    color: black;
    background-color: rgba( 246, 165, 76, 1 );
}

div.header-design-con {
    position: absolute;
    background-color: rgba( 246, 165, 76, 1 );
    height: 60%;
    min-height: 450px;
    width: 60%;
    max-width: 750;
    right: 50px;
    top: 150px;
    border-radius: 75px;
    overflow: hidden;
}

div.bowl-con {
    position: absolute;
    width: 85%;
    height: 100%;
}

div.bowl-con > div {
    position: absolute;
}

div.bowl-upper {
    top: 280px;
    height: 40px;
    width: 350px;
    background-color: rgba( 55, 59, 45, 1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    z-index: 1;
}

div.bowl-side {
    top: 292px;
    left: 280px;
    height: 300px;
    width: 40px;
    background-color: rgba( 55, 59, 45, 1);
    transform: rotate( 10deg );
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    z-index: 1;
}

div.bowl-bottom {
    z-index: 0;
    height: 300px;
    width: 302px;
    border-bottom-right-radius: 50px;
    top: 287px;
    background: linear-gradient( to bottom, rgba( 55, 59, 45, 1 ), rgba( 133, 96, 67, 1 ) );
}

@media only screen and ( max-height: 800px ) {
    div.header-design-con {
        top: 100px;
    }
}

@media only screen and ( max-width: 1140px ) {
    div.header-con {
        padding: 0 5vw;
    }
    
    div.title-con {
        font-size: 275%;
    }

    header > div:nth-child(2) {
        width: 450px;
    }

    div.header-design-con {
        width: 55%;
    }
}

@media only screen and ( max-width: 860px ) {
    header > div:first-child {
        align-self: flex-start;
    }
    
    div.title-con {
        font-size: 250%;
    }

    div.nav-con > nav {
        position: fixed;
        width: 100%;
        right: 0;
        transform: translateX( 100% );
        z-index: 998;
    }

    div.nav-con.-activeBurger > nav {
        background-color: rgba( 246, 165, 76, 1 );
        transition: transform ease-out .35s;
        transform: translateX( 0 );
    }

    div.nav-con.-activeBurger li a {
        color: rgba( 0, 10, 5, 1);
    }

    div.nav-con.-activeBurger li a.-activeNav {
        color: white;
    }

    div.nav-con nav ul {
        height: 100vh;
        flex-direction: column;
        align-items: center;
    }

    div.nav-burger {
        visibility: visible;
        z-index: 9999;
    }

    div.header-design-con {
        width: 100%;
        border-radius: 0;
        right: 0;
        top: 100px;
    }
}